{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <table>
        <tr>
            <td><b>Symbol</b></td>
            <td><b>Name</b></td>
            <td><b>Shares</b></td>
            <td><b>Price</b></td>
            <td><b>Total</b></td>
        </tr>
        {%for rows in index%}
        <tr>
            <td>{{ rows["symbol"] }}</td>
            <td>{{ rows["name"] }}</td>
            <td>{{ rows["amount"] }}</td>
            <td>{{ rows["price_usd"] }}</td>
            <td>{{ rows["total_usd"] }}</td>
        </tr>
        {% endfor %}
        <tr>
            <td><b>Cash</b></td>
            <td> {{ cash }} </td>
        </tr>
        <tr>
            <td><b>TOTAL</b></td>
            <td> {{ total }} </td>
        </tr>
    </table>


{% endblock %}
